<% @posts.each do |post| %>
	<h2><%= link_to post.title, post%></h2>
	<p><%= post.content %></p>
  <% post.tags.each do |tag| %>
    <i>Category:</i> <%= link_to tag.name, tag_path(:name => tag.name) %>
  <% end %>
	<p>
		<span class="label label-success"><%= link_to "Редактировать", edit_post_path(post) %></span>
		<span class="label label-warning"><%= link_to "Удалить", post, :confirm => "Вы уверены?", :method => :delete %></span>
	</p>
	<hr />
<% end %>	

<p><%= link_to "Добавить статью", new_post_path %></p>
