<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<div>
  <i>Category:</i> <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(:name => tag.name) %>
  <% end %>
</div>

<% unless @post.videos.empty? %>
  <div class='photos'>
    <h3>Photos:</h3>
    <%= render :partial => "photo", :collection => @post.photos %>
  </div>
<% end %>

<% unless @post.videos.empty? %>
  <div class='videos'>
    <h3>Videos:</h3>
    <%= render :partial => "video", :collection => @post.videos %>
  </div>
<% end %>

<% unless @post.comments.empty? %>
  <div class='comments'>
    <h3>Comments:</h3>
    <%= render :partial => "comment", :collection => @post.comments %>
  </div>
<% end %>

<div class='comments-form'>
  <%= render :partial => "comments/new" %>
</div>

<small>Published at <%= @post.created_at.strftime("%H:%M %m/%d/%Y") %></small>
